[Unit]
Description=Upgrade and reboot

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/rpm-ostree upgrade; /usr/bin/rpm-ostree status --pending-exit-77; [ $? -eq 77 ] && /usr/bin/systemctl reboot"