[Unit]
Description="Install vendor binaries for desktop"

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/zsh "/usr/bin/install-vendor-binaries-desktop.sh"
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
Slice=lower-priority.slice

[Install]
WantedBy=multi-user.target