[Unit]
Description=Disable mitigations
Documentation=
After=network-online.target
ConditionPathExists=!/var/.mitigations-kargs

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/rpm-ostree kargs --replace=mitigations=off
ExecStart=/usr/bin/touch /var/.mitigations-kargs
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
